/*-------------------------------------------
  Action styles
-------------------------------------------*/
.actions {
  margin-left: auto;
  pointer-events: all;
}
.actions__list {
  @extend %inline-list;
  height: rem(30);

  > li {
    + li {
      margin-left: 20px;
    }
  }
}
.actions__btn {
  @extend %btn-reset;
  height: rem(30);
  position: relative;
  width: rem(30);

  .icn {
    @extend %center-both;
    fill: transparentize($white, .35);
    height: rem(24);
    position: absolute;
    @extend %transition;
    width: rem(24);
  }
  // .icn-trash,
  // .icn-share {
  //   height: rem(22);
  //   width: rem(22);
  // }

  &:hover {
    .icn {
      fill: $white;
    }
  }
}