/*-------------------------------------------
  Light styles
-------------------------------------------*/
// Grid of lights
.lights {
  @extend %list-reset;
  display: flex;
  flex-flow: row wrap;
  height: rem(480);
  // justify-content: space-between;
  margin: rem(40) auto;
  position: relative;
  user-select: none;
  width: rem(320);
}
.light {
  background: $black;
  border-radius: 50%;
  margin: .5px;
  flex-basis: 5%;

  // &:nth-child(17),
  // &:nth-child(31n + 17) {
  //   margin-left: 10px;
  // }
}

// Individual light bulbs
.light__bulb {
  @extend %btn-reset;
  @extend %color;
  border-radius: 50%;
  display: block;
  height: rem(19);
  transform: translateZ(0);
  width: rem(19);

  .light:nth-child(10n) & {
    border-right: none;
  }

  &.flash {
    animation: bulbFlash 1s linear infinite;
  }

  .light:nth-child(2n) &.flash {
    animation-delay: .125s;
  }
  .light:nth-child(3n) &.flash {
    animation-delay: .25s;
  }
  .light:nth-child(4n) &.flash {
    animation-delay: .375s;
  }
  .light:nth-child(5n) &.flash {
    animation-delay: .5s;
  }
  .light:nth-child(6n) &.flash {
    animation-delay: .625s;
  }
  .light:nth-child(7n) &.flash {
    animation-delay: .75s;
  }
}

// Flashing bulb animation
@keyframes bulbFlash {
  from {
    opacity: 1;
  } 50% {
    opacity: 0;
  } to {
    opacity: 1;
  }
}