/*-------------------------------------------
  Toolbar styles
-------------------------------------------*/
.toolbar {
  bottom: 0;
  align-items: flex-end;
  display: flex;
  padding: 20px;
  pointer-events: none;
  position: fixed;
  left: 0;
  width: 100%;
}