/*-------------------------------------------
  Global styles
-------------------------------------------*/
body {
  background: $gray-dark;
  color: $text;
  font-family: $sans-serif;
  font-weight: 300;
}

// Links
a, a:hover {
  color: $link-color;
  text-decoration: underline;
}

// Reusable color swatch
// (used for color selector and bulbs)
%color {
  background: $black;
  border-radius: 50%;
  display: block;
  height: rem(30);
  width: rem(30);

  @each $colorName, $color in $colors {
    &[data-color="#{$colorName}"] {
      background: $color;

      &.light__bulb {
        box-shadow: 0 0 10px 0 $color,
                    inset 0 3px 5px 0 transparentize($white, .9),
                    0 2px 3px 0 transparentize($black, .5);
      }
    }
  }
}